.shop-card{

    border-radius: 7px;
    padding: 8px;
    margin-bottom: 25px;

    
    .shop-card__img{
        img{
            width: 100%;
            height: 300px;
        }
        &:hover .shop-card__overlay{
            height: 60px;
        }
        position: relative;
        transition: all .5s ease;
    }
    .shop-card__overlay{
        position: absolute;
        left: 0;
        bottom: 0; 
        right: 0;
        background-color: rgba($color:#c7a17a, $alpha: 0.9);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        cursor: pointer;

        .shop-card__icon{
            color: #fff;
            font-size: 25px;
            // padding-right: 10px;
        }
        .shop-card__overlay-h3{
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 1px;
            font-weight: 700;
            font-size: 14px;
            padding-left: 4px;
        }

    }

    .shop-card__content{
        .shop-card__name{
            font-size: 19px;
            letter-spacing: normal;
            padding-top: 5px;
            color: var(--secondary-color);
        }
        .shop-card__price{
            color: var(--main-color);
            font-size: 20px;
            
        }
    }
    
}



