.headerClass img{
    height: 60vh;
    object-fit: cover !important;
}

.header-content{
    display: flex;
    align-items: center ;
    justify-content: center;
    height: 60vh;
    color: white;   
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
  }

.header-content_title{
    font-family: var(--header-font);
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 700;
}




