.headerClass{
    /* width: 100vw; */
    height: 55vh;
    background-size:cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.header-content{
    display: flex;
    align-items: center ;
    justify-content: center;
    height: 55vh;
    color: white;   
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
  }

.header-content h2{
    font-family: var(--header-font);
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 700;
}




/* .bgabout{

}


.para{
    background-position: center !important;
    background-size: cover !important;
} */