.shop-cart{
    background-color: #fff;
    padding: 90px 0;
    .cart-desc{
        border: 1px solid red;
        padding: 25px;
    }
    .new-product{
        border: 1px solid green;
        padding: 25px;
    }
}

