.bg-class{
    background-image: url(../../assets/images/applicaton-img/application-img.jpg);
    background-attachment: fixed;
    height: 90vh;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}

.app-content{
    padding: 50px 150px 100px;
    /* margin-top: 70px; */
}

.app-right .app-logo{
    width: 213px;
    /* padding-top: 40px; */
}

.app-left .app-text{
    color: #fff;
    font-size: 15px;
    font-family: var(--main-font);
    line-height: 26px;
    font-weight: 400;
    padding-bottom: 25px;
}

.custom-shape-divider-top-1691475425{
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1691475425 .shape-fill {
    fill: #EAE7DE;
}

.custom-shape-divider-bottom-1691475425-app {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(360deg);
    margin-top: -27px;
    
}
.custom-shape-divider-bottom-1691475425-app .shape-fill {
    fill:#fff;
}

@media(max-width:1200px){
    .bg-class{
        height: auto;
    }
    .app-content{
    padding: 50px 100px;
    }
}
@media(max-width:992px){
    .app-content{
        padding: 0 70px 50px;
        }
    .section-heading_h2{
        font-size: 25px;
    }
    .app-left .app-text{
        line-height: 23px;
        font-weight: 400;
        padding-bottom: 25px;
    }
    .app-right .app-logo{
        width: 150px;
    }
}
@media(max-width:768px){
    .app-content{
    padding: 50px 30px;
    text-align: center !important;
    }
    /* .button{
    padding: 10px 20px;
    } */
    .section-heading-left{
    text-align: center !important;
    }
    .divider-light{
        margin: 0 auto;
    }
}