.error-header{
    // height: 20vh;
    background-color: #F5F5F5;
    padding: 50px 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .error-header__title{
        font-family: var(--header-font);
        color: var(--secondary-color);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 22px;
    }
    .error-header__span{
        color: var(--main-color);
        font-family: var(--italic-font);
        font-size: 16px;
        font-weight: 400;
    }
}


.error-content {
    text-align: center;
    background-color: #fff;
    padding: 90px 200px;
    .error-content__title{
        font-family: Oswald,sans-serif;
        font-size: 120px;
        letter-spacing: -6px;
        color: #313131;
        font-weight: 400;
    }
    .error-content-divider{
        
        width: 120px;
        border-bottom: 3px var(--divider-border-style) var(--divider-color) ;
        margin: 0 auto;
        margin-bottom: 20px;
    
    }
    .error-content__title-small{
        font-size: 22px;
        letter-spacing: normal;
        padding-bottom: 30px;
    }
    .error-content__text{
        margin-bottom: 60px;
        font-size: 16px;
        line-height: 29px;
        text-align: center !important;
        
    }
}

@media(max-width:1200px){
    .error-header{
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;

        .error-header__title{
            margin-bottom: 10px ;
            
        }
    }
}

@media(max-width:992px){
    
    .error-content {
        padding: 90px 100px !important;
    }

}


@media(max-width:768px){
    .error-header{
        padding: 30px;
        .error-header__title{
            margin-bottom: 10px ;
            
        }
    }
    .error-content {
        padding: 50px 30px 80px !important;
        .error-content__title{
            font-size: 60px;
            letter-spacing: normal;

        }
        .error-content__text{
            margin-bottom: 40px;            
        }
    }
}