.sort-select {
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;

  .sort-option {
    background-color:#fff;
    color: black;
    font-size: 14px;
    padding: 7px 5px;
    cursor: pointer;
  
    &:hover {
      background-color: #c7a17a !important;
      color: white;
    }
  
    &:active {
      background-color: red !important;
      color: black;
    }
  }
  
}