.reserv-content{
    padding: 0 90px;

    .reserv-text{
        padding-right: 20px;

        .reserv-divider{
            margin: 20px 0;
            width: 120px;
            height: 5px;
            border-bottom: 3px var(--divider-border-style) var(--divider-color) ;
        }
        .reserv-img-div{
            max-width: 644px;
            height: auto;
            .reserv-img{
                width: 100%;
            }
        }
    }

    
}

.reserv-booking{
    padding-bottom: 120px;
}

@media(max-width:1300px){
    .reserv-content{
        padding: 20px 50px ;
        .reserv-text{
            padding-right: 0 ;

            .reserv-p{
                text-align: justify;
            }
        }
    }
    .reserv-booking{
        padding-bottom: 70px;
    }
}

@media(max-width:992px){
    .reserv-content{
        padding: 70px 30px 0;
    }
    .reserv-booking{
        padding-bottom: 40px;
    }
}

@media(max-width:768px){
    .reserv-content{
        padding: 50px 10px 0;

        .reserv-h2{
            font-size: 27px;
        }
    }

}
