.navigation-bar {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    color: white;
    position: fixed;
    top: 0;
    z-index: 666;
    height: 60px;
  }
  
  .navbar-logo{
    width: 96px;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .navbar-links  a {
    display: block;
    padding: 0 17px;
    color: white;
    font-size: 15px;
    /* line-height: 22px; */
    font-weight: 700;
    font-family: var(--header-font);
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  .cart-container {
    position: relative;
    display: inline-block;
    cursor: pointer;

  }
  .shopping-card{
    border-left: 2px solid #fff;
    padding-left: 15px;
  }
  
  .cart-counter {
    position: absolute;
    top: -2px;
    right: 0px;
    background-color: var(--main-color);
    color: #fff;
    width: 15px;
    height: 17px;
    padding-left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    font-family: var(--main-font);
  }
  
  .navbar-search{
    padding-bottom: 5px;
  }

  .navbar-mobile-icon{
    position: absolute;
    right: 20px;
    font-size: 25px;
    display: none;
  }

@media(max-width:1200px){
  .navbar-links  a {
    padding: 0 13px;
  }
}

@media(max-width:992px){
  .cart-container{
    display: none;
  }
  .navbar-search{
    display: none;
  }

  .navbar-links {
    flex-direction: column;
    height: auto;
  }

  .navbar-mobile-icon{
    display: block;
  }
}

