.main-blog-card{
    .main-blog-content{
        max-width: 950px ;
        padding-bottom: 50px;
        .main-blog-card__img-div{
            // max-width: 950px;
            .main-blog-card__img{
                width: 100%;
            }
        }
        .main-blog-card__title{
            font-size: 22px;
            padding: 25px 0 20px;
        }
        .main-blog-card__desc{
            color: var(--main-color);
            font-size: 16px;
            font-family: var(--italic-font);
            // padding: 10px 0 30px;
        }
        .main-blog-card__text{
            padding: 25px 0;
        }
        .main-blog-card__bottom{
            border-bottom: 2px solid #eee;
        }
    
        .main-blog__icon{
            color: gray;
            padding: 0 4px;
            transition: all .3s ease;
            &:hover{
                color: var(--main-color);
            }
        }
    }
    
}