.footerSection{
    color: #fff;
    font-family: var(--header-font);
}

/* -----------------FOOTER TOP------------ */

.footer-top{
    background-image: url(../../assets/images/footer-image/footer-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-top .footerContent{
    padding: 70px 90px 41px;
}
.footerContent .footerContent_div1{
    margin-top: -5px;
}
.footerContent > div{
    padding-right: 60px;
}

.footerBrownLine{
    display: block;
    border-bottom: 1px solid rgba(168,164,161,.25);
}
.footerContent .day-name , .closed , .hours{
    font-size: 14px;
    font-family: var(--header-font);
    padding-right: 6px;
    line-height: 45px!important;
    color: #fff;
    text-transform: uppercase;
}
.footerContent .closed{
    color: var(--main-color);
}
.footerContent .hours{
    color: #ccc;
}

.footerContent .footerBrownLine{
    flex: 1;
    margin: 0 10px;
    height: 1px;
}


.footer-top .footerContent h4{
    color: #fff;
    margin-bottom: 40px;
    font-family: var(--header-font);
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
}


.footerContent .latest-post{
    margin-bottom: 20px;
}

.footerContent .latest-post .latest-post_title{
    font-size: 14px;
    font-family: var(--header-font);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    transition: all .4s ease;
}

.latest-post .latest-post_title:hover{
    color: var(--main-color);
}

.footerContent .latest-post .latest-post_date{
    font-size: 13px;
    color: #c7a17a;
    font-family: var(--italic-font);
    font-style: italic;
    display: block;
    padding-top: 3px;
    padding-bottom: 14px;
}

.footerContent .latest-post:not(:last-child){
    border-bottom: 1px solid rgba(168,164,161,.25);
}


.footerContent .footer-contact__link a{
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--main-color);
    display: block;
    padding-bottom: 10px;
}

.footerContent .footer-contact_link-desc{
    font-family: var(--main-font);
    font-size: 14px;
    color: #ccc;
    line-height: 25px;
    padding-bottom: 20px;
}

.footerContent .footer-contact__input{
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: none;
    color: #fff;
}

.footerContent .footer-contact__button{
    background-color: var(--main-color);
    border: none;
    color: #fff;
    padding: 6px 10px 7px;
    margin-left: 5px;
    font-size: 17px;
}

.other-location__div h6{
    font-size: 15px;
    font-family:var(--header-font);
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.other-location__div span{
    font-family: var(--main-font);
    font-size: 14px;
    color: #ccc;
    line-height: 24px;
    padding-bottom: 20px;
    /* margin-bottom: 20px; */
    display: inline-block;
}
.other-location__div1{
    border-bottom: 1px solid rgba(168,164,161,.25);
    margin-bottom: 20px;
}
/* ------------------BOTTOM-------------- */
.footer-bottom{
    background-color: #000;
    padding: 15px 90px;
    border-top: 2px solid var(--secondary-color);
    justify-content: space-between;
    vertical-align: middle;
}

.footer-bottom .footer-bottom_div1{
    text-align: start;
}

.footer-bottom .footer-bottom_div3{
    text-align: end;
}

.footer-bottom_div1 span , 
.footer-bottom_div3 span {
    font-size: 14px ;
    color: #ACACAC;
    cursor: pointer;
    font-size: 14px;
    font-family: var(--main-font);
}

.footer-bottom .footer-bottom__social{
    text-align: center;

}

.footer-bottom .footer-bottom__social a{
    font-size: 25px;
    margin-right: 17px;
    transition: all .3s ease;
}

.footer-bottom .footer-bottom__social a:hover{
    /* font-size: 24px; */
    color: var(--main-color);
}

/* ----------FOOTER MEDIA--------------- */

@media(max-width:1200px){
    .footer-bottom{
        padding: 15px 40px;
    }
    .footer-top .footerContent{
        padding: 70px 40px 41px !important;
    }
    .footerContent > div{
        padding-right: 30px;
    }
    
}

@media(max-width:992px){
    .footer-bottom{
        padding: 15px 20px !important;
    }
    .footer-bottom .footer-bottom__social a{
        font-size: 25px;
        margin-right: 10px;
    }
    .footer-top .footerContent{
        padding: 70px 40px 20px !important;
    }
    .footerContent > div{
        padding-right: 30px;
    }
    .footer-top .footerContent h4{
        margin-top: 20px;
    }
    .other-location__div span{
        padding-bottom: 20px;
    }
    .secondary-h4{
        margin-bottom: 20px !important;
    }
    
}

@media(max-width:768px){
    .footer-bottom__social,.footer-bottom_div1,.footer-bottom_div3{
        text-align: center !important;
        padding-bottom: 3px;
    }
    .footer-top .footerContent{
        padding: 40px 30px 20px !important;
    }
    .footerContent > div{
        padding-top: 20px;
    }
    .footer-top .footerContent h4{
        margin-bottom: 20px;
    }
}
