:root {
     --main-font:'Open Sans', sans-serif;
     --italic-font:'Merriweather', serif;
     --header-font:'Oswald', sans-serif;
     --secondary-font:'Roboto', sans-serif;
     --main-color:#C7A17A;
     --secondary-color:#30271C;
     --bg-color:#EAE7DE;
     --divider-border-style: solid;
     --divider-color: #C7A17A;
     --divider-border-width: 2px;
   }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
}

img {
  width: 100%;
}

.row {
  margin: 0 !important;
}




::-moz-selection {
  background: var(--main-color);
  color: #fff;
}

::selection {
  background: var(--main-color);
  color: #fff;
}

/* ---------ScrollBar------- */

/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3906d; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7D644C; 
}

/* ================ helper class============== */

.class-p{
  color: #666;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 26px;
}

.class-h2{
  font-family: var(--header-font);
  letter-spacing: 1px;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}


/* -------------------- */

.pg-load{
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}