.section-heading{
    /* padding: 90px 0; */
    text-align: center;
    padding-bottom: 20px;
}


.section-heading-left{
    text-align: left !important;
}
.section-heading_h4{
    font-family: var(--italic-font);
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    /* padding: 90px 0 17px 0; */
    padding-bottom: 15px;
}

.section-heading_h2{
    font-family: var(--header-font);
    letter-spacing: 1px;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 18px;
    
}

.divider-dark{
    width: 120px;
    border-bottom: var(--divider-border-width) var(--divider-border-style) var(--divider-color) ;
    margin: 0 auto;
}
.divider-light{
    width: 120px;
    border-bottom: var(--divider-border-width) var(--divider-border-style) #fff ;
}
.divider-brown-left{
    width: 120px;
    border-bottom: 3px var(--divider-border-style) var(--main-color) ;
}
.dark {
    color: var(--secondary-color);
}
.text-white{
    color: #fff;
}
.light{
    color: var(--main-color);
}

.white{
    border-bottom: #fff !important;
}

.bg-white {
    background-color: #fff;
}

@media(max-width:768px){
    .section-heading-left{
        text-align: center !important;
    }
    .divider-brown-left{
        margin: 0 auto;
    }
    .section-heading_h2{
        font-size: 28px;    
    }
}