.our-menu-section{
    .our-menu-container{
        padding: 100px 90px;
        
        .our-menu-title{
            padding-left: 14px;
            padding-bottom: 65px;

            .our-menu-title__h2{
                font-size: 35px;
                letter-spacing: 1px;
                
                padding-bottom: 15px;
                font-family: var(--header-font);
                color: var(--secondary-color);
                font-weight: 700;
                text-transform: uppercase;
               }
               .our-menu__divider{
                   width: 120px;
                   height: 5px;
                   border-bottom: 3px var(--divider-border-style) var(--divider-color) ;
               }
        }
        
    }

    .our-menu-parallax{
        background-image: url(../../assets/images/our-menu-page/Menu-2-parallax-img-1.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        // margin: 60px 0 ;
        .our-menu__logo-div{
            width: 351px;
            padding: 136px 0;
            margin: 0 auto;
            .our-menu__logo{
                max-width: 100%;
            }
        }
    }

}

@media(max-width:1200px){
    .our-menu-container{
        padding: 100px 50px !important;
    }
}
@media(max-width:992px){
    .our-menu-container{
        padding: 60px 50px !important;
    }
}

@media(max-width:768px){
    .our-menu-container{
        padding: 60px 0px !important;

        .our-menu-title{
            // padding-left: 14px;
            padding-bottom: 40px !important;
    
            .our-menu-title__h2{
                font-size: 28px !important;
               
            }
        }
    }
    .our-menu__logo-div{
        width: 200px !important;
    }
   

    

}